@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #222222;
  background-color: #f6f7fb;
}
.container {
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  align-content: flex-start;
  flex-wrap: wrap;
}
.box {
  background-color: #ffffff;
  border: 1px solid #e7eaed;
  padding: 30px;
  margin: 10px;
  flex-grow: 1;
}
.box-profile {
  flex: 1 0 200px;
}

.btn-primary,
.btn-primary:link {
  text-decoration: none;
  padding: 8px 20px;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 14px;
  border: none;
  cursor: pointer;
  background-color: #06839a;
  color: #ffffff;
}
.badge {
  position: relative;
  margin-left: 20px;
}
.badge::before {
  position: absolute;
  line-height: 1;
  top: 0;
  right: -24px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  content: '';
  background-color: black;
}
.badge-green::before {
  background-color: green;
}
.badge-yellow::before {
  background-color: orange;
}
