.login {
  padding: 25px;
  text-align: center;
}
.login-title {
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.login-input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: #e6e6e6;
  border: none;
  padding: 8px 20px;
  border-radius: 100px;
  transition: all 0.2s;
  margin-bottom: 10px;
}
.login-input:focus {
  outline: none;
}
